In [3]:
import app
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [31]:
#!pip install app
from sklearn.preprocessing import StandardScaler

In [5]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras import layers

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import Normalizer
from sklearn.metrics import r2_score

In [35]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import InputLayer
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam

In [7]:
df = pd.read_csv("C:\\Users\\Asus\\Downloads\\regression-challenge\\regression-challenge\\regression-challenge-starter\\admissions_data.csv")

In [8]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

In [11]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.00000,500.000000,500.000000,500.00000
mean,250.500000,316.472000,107.192000,3.114000,3.374000,3.48400,8.576440,0.560000,0.72174
std,144.481833,11.295148,6.081868,1.143512,0.991004,0.92545,0.604813,0.496884,0.14114
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.00000,6.800000,0.000000,0.34000
25%,125.750000,308.000000,103.000000,2.000000,2.500000,3.00000,8.127500,0.000000,0.63000
50%,250.500000,317.000000,107.000000,3.000000,3.500000,3.50000,8.560000,1.000000,0.72000
75%,375.250000,325.000000,112.000000,4.000000,4.000000,4.00000,9.040000,1.000000,0.82000
max,500.000000,340.000000,120.000000,5.000000,5.000000,5.00000,9.920000,1.000000,0.97000

In [12]:
df.shape

(500, 9)

In [13]:
df.isnull().sum()

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

In [28]:
features = df.iloc[:,1:-1]
features
#Features = X

     GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  Research
0          337          118                  4  4.5   4.5  9.65         1
1          324          107                  4  4.0   4.5  8.87         1
2          316          104                  3  3.0   3.5  8.00         1
3          322          110                  3  3.5   2.5  8.67         1
4          314          103                  2  2.0   3.0  8.21         0
..         ...          ...                ...  ...   ...   ...       ...
495        332          108                  5  4.5   4.0  9.02         1
496        337          117                  5  5.0   5.0  9.87         1
497        330          120                  5  4.5   5.0  9.56         1
498        312          103                  4  4.0   5.0  8.43         0
499        327          113                  4  4.5   4.5  9.04         0

[500 rows x 7 columns]

In [29]:
labels = df.iloc[:,-1]
labels.head()
#Labels = y

0    0.92
1    0.76
2    0.72
3    0.80
4    0.65
Name: Chance of Admit , dtype: float64

In [30]:
features_train, features_test, labels_train, labels_test = train_test_split(features, labels, test_size = 0.20, random_state= 23)

In [32]:
scaler = StandardScaler()

In [ ]:
One possible solution would be to use the StandardScaler() function from the sklearn.preprocessing module. It then uses .fit_transform() on our features_train_set and .transform() on our features_test_set separately.

You can then reassign the features_train_set and the features_test_set to a DataFrame using the .DataFrame() pandas function.

Make sure to fit the scaler or the normalizer to the training data only. This way you avoid data leakage from the training set to the test set.

Read through the sklearn.preprocessing documentation for more information about scaling and transforming data as well as the pandas guide for help with DataFrames.

In [33]:
features_train = scaler.fit_transform(features_train)

In [34]:
features_test = scaler.transform(features_test)

In [36]:
my_model = Sequential()

In [37]:
input = InputLayer(input_shape = (features.shape[1], ))

In [39]:
my_model.add(input)

In [40]:
my_model.add(Dense(16, activation = 'relu'))

In [41]:
my_model.add(Dense(1))

In [45]:
print(my_model.summary())

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 16)                128
_________________________________________________________________
dense_1 (Dense)              (None, 1)                 17
=================================================================
Total params: 145
Trainable params: 145
Non-trainable params: 0
_________________________________________________________________
None

In [43]:
opt = Adam(learning_rate = 0.01)

In [47]:
my_model.compile(loss = 'mse', metrics = 'mae', optimizer = opt)

In [50]:
my_model.fit(features_train, labels_train, epochs=50, batch_size=1, verbose=1)

Epoch 1/50
400/400 [==============================] - 0s 720us/step - loss: 0.0053 - mae: 0.0555
Epoch 2/50
400/400 [==============================] - 0s 741us/step - loss: 0.0052 - mae: 0.0545
Epoch 3/50
400/400 [==============================] - 0s 741us/step - loss: 0.0057 - mae: 0.0581
Epoch 4/50
400/400 [==============================] - 0s 726us/step - loss: 0.0047 - mae: 0.0508
Epoch 5/50
400/400 [==============================] - 0s 772us/step - loss: 0.0060 - mae: 0.0567
Epoch 6/50
400/400 [==============================] - 0s 720us/step - loss: 0.0060 - mae: 0.0561
Epoch 7/50
400/400 [==============================] - 0s 721us/step - loss: 0.0050 - mae: 0.0520
Epoch 8/50
400/400 [==============================] - 0s 719us/step - loss: 0.0053 - mae: 0.0556
Epoch 9/50
400/400 [==============================] - 0s 718us/step - loss: 0.0051 - mae: 0.0535
Epoch 10/50
400/400 [==============================] - 0s 733us/step - loss: 0.0049 - mae: 0.0533
Epoch 11/50
400/400 [==============================] - 0s 718us/step - loss: 0.0049 - mae: 0.0513
Epoch 12/50
400/400 [==============================] - 0s 778us/step - loss: 0.0064 - mae: 0.0604
Epoch 13/50
400/400 [==============================] - 0s 754us/step - loss: 0.0047 - mae: 0.0514
Epoch 14/50
400/400 [==============================] - 0s 759us/step - loss: 0.0045 - mae: 0.0494
Epoch 15/50
400/400 [==============================] - 0s 800us/step - loss: 0.0055 - mae: 0.0559
Epoch 16/50
400/400 [==============================] - 0s 695us/step - loss: 0.0053 - mae: 0.0521
Epoch 17/50
400/400 [==============================] - 0s 734us/step - loss: 0.0060 - mae: 0.0563
Epoch 18/50
400/400 [==============================] - 0s 733us/step - loss: 0.0047 - mae: 0.0501
Epoch 19/50
400/400 [==============================] - 0s 724us/step - loss: 0.0046 - mae: 0.0496
Epoch 20/50
400/400 [==============================] - 0s 741us/step - loss: 0.0046 - mae: 0.0486
Epoch 21/50
400/400 [==============================] - 0s 781us/step - loss: 0.0047 - mae: 0.0504
Epoch 22/50
400/400 [==============================] - 0s 727us/step - loss: 0.0048 - mae: 0.0516
Epoch 23/50
400/400 [==============================] - 0s 719us/step - loss: 0.0044 - mae: 0.0490
Epoch 24/50
400/400 [==============================] - 0s 715us/step - loss: 0.0048 - mae: 0.0520
Epoch 25/50
400/400 [==============================] - 0s 726us/step - loss: 0.0048 - mae: 0.0504
Epoch 26/50
400/400 [==============================] - 0s 726us/step - loss: 0.0048 - mae: 0.0516
Epoch 27/50
400/400 [==============================] - 0s 735us/step - loss: 0.0046 - mae: 0.0501
Epoch 28/50
400/400 [==============================] - 0s 773us/step - loss: 0.0042 - mae: 0.0475
Epoch 29/50
400/400 [==============================] - 0s 719us/step - loss: 0.0049 - mae: 0.0513
Epoch 30/50
400/400 [==============================] - 0s 691us/step - loss: 0.0049 - mae: 0.0508
Epoch 31/50
400/400 [==============================] - 0s 707us/step - loss: 0.0048 - mae: 0.0494
Epoch 32/50
400/400 [==============================] - 0s 728us/step - loss: 0.0046 - mae: 0.0505
Epoch 33/50
400/400 [==============================] - 0s 752us/step - loss: 0.0047 - mae: 0.0514
Epoch 34/50
400/400 [==============================] - 0s 776us/step - loss: 0.0045 - mae: 0.0483
Epoch 35/50
400/400 [==============================] - 0s 728us/step - loss: 0.0045 - mae: 0.0488
Epoch 36/50
400/400 [==============================] - 0s 766us/step - loss: 0.0048 - mae: 0.0520
Epoch 37/50
400/400 [==============================] - 0s 733us/step - loss: 0.0051 - mae: 0.0534
Epoch 38/50
400/400 [==============================] - 0s 762us/step - loss: 0.0045 - mae: 0.0483
Epoch 39/50
400/400 [==============================] - 0s 771us/step - loss: 0.0052 - mae: 0.0525
Epoch 40/50
400/400 [==============================] - 0s 730us/step - loss: 0.0048 - mae: 0.0504
Epoch 41/50
400/400 [==============================] - 0s 719us/step - loss: 0.0048 - mae: 0.0511
Epoch 42/50
400/400 [==============================] - 0s 729us/step - loss: 0.0048 - mae: 0.0509
Epoch 43/50
400/400 [==============================] - 0s 714us/step - loss: 0.0050 - mae: 0.0513
Epoch 44/50
400/400 [==============================] - 0s 734us/step - loss: 0.0045 - mae: 0.0492
Epoch 45/50
400/400 [==============================] - 0s 735us/step - loss: 0.0048 - mae: 0.0512
Epoch 46/50
400/400 [==============================] - 0s 764us/step - loss: 0.0044 - mae: 0.0494
Epoch 47/50
400/400 [==============================] - 0s 745us/step - loss: 0.0046 - mae: 0.0509
Epoch 48/50
400/400 [==============================] - 0s 733us/step - loss: 0.0048 - mae: 0.0508
Epoch 49/50
400/400 [==============================] - 0s 843us/step - loss: 0.0047 - mae: 0.0508
Epoch 50/50
400/400 [==============================] - 0s 701us/step - loss: 0.0046 - mae: 0.0501

In [51]:
res_mse, res_mae = my_model.evaluate(features_test, labels_test, verbose=1)

4/4 [==============================] - 0s 2ms/step - loss: 0.0030 - mae: 0.0405